
header {
	position: relative;
	height: 20%;
}
.head {
	height: 20%;
	width: 100%;
}
#ac {
	width: 90px;
	height: 50px;
}
.mainlogo {
	height: 300%;
	padding-top: 0px;

}
body {
	background-color: black;
	width: 100% !important;
}
#nnn {
	margin-top: -3px;
	margin-bottom: 0px;
	border: none;
	z-index: 999;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background-color: black;
}
#menu {
	z-index: 999;
	background-color: #020a19;
	height: 60px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	text-align: center;
	overflow: hidden;
	border: 1px solid lightblue;
	margin-top: -2px;
}
#menu a {
	color: lightblue;
	text-decoration: none;
}
#menu a:hover {
	color: #151233;
	text-decoration: none;
}
.menuitem {
	float: center;
	display: inline-block;
	padding: 15px 29px 15px 29px;
	margin-left: -5px;
	font-size: 20px;
	background: #020a19;
	border-bottom: 4px inset lightblue;
}
.menuitem:hover{
	background: lightblue;
	border-bottom: 4px inset lightblue;
}
.menuitem:active{
	background: lightblue;
	border-bottom: 5px inset white;
}

footer {
	background-color: #020a19;
	padding: 0px;
	height: 150px;
	position: relative;
	bottom: 0px;
	text-align: center;
	color: #2b4fd1;
	width: 100% !important;
}
#forscroll{
	color: lightblue;
	margin-bottom: 100px;
}
#slikk {
	position: absolute;
	right: 10%;
	top: 25%;
	height: 60px;
	width: 60px;
	filter: invert(100%);
}

#slikk:hover{
	filter: invert(50%);
}
.dd1 {
	padding-top: 110px;
}

/* Slideshow container */
details,summary{
	border: none;
}

.slideshow{
  	position: relative;
 	max-height: 250px !important;
}
.fill{
}
.mySlides{
}
.slideshow img{
	vertical-align: left;
}
#ultekst{
	padding-top: 40px;
}
table{
	padding: auto;
}
tr, td, th{
	border: 2px solid black;
}
.box1{
	text-align: center;
	position: relative;
	color: lightblue;
	background-color: #151233;
	height: 250px;
	width: 100% !important;
}
#boxl{
	position: relative;
	color: lightblue;
	text-align: center;
	background-color: #151233;
	border-bottom: 1px solid lightblue;
	height: 250px;
	width: 100% !important;
}
#boxr{
	position: relative;
	text-align: right;
	color: lightblue;
	background-color: #151233;
	border-bottom: 1px solid lightblue;
	height: 250px;
	width: 100% !important;
}

